data-ingestions/.DS_Store
.DS_Store
website/website/.env
data-ingestions/~$taxi_zones_data_dict.xlsx
data-ingestions/taxi_zones_data_dict.xlsx
data-ingestions/taxi_zones.csv
*/.ipynb_checkpoints/
node_modules
*.env
website/requirements.txt
*.pyc
/.vscode/
website/docker-compose.yml
website/Dockerfile
delete dupes.py
node_modules
*.env
website/requirements.txt
*.parquet
*.json
*.geojson
*.csv
*checkpoint.ipynb
