
/* header */
header{
    margin-bottom: 2em;
    background: #f8f8f8;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size:  1.4rem;
    font-weight: 5rem;
    

}
  

/* parent navbar container */
.navbar-parent{
    display: flex;
    align-items: center;
}

.dropdown-button{
    display: none;
}

nav{
    width: 100%;
}

/* container for left and right nav */

.nav-components{
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.nav-left ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;


}

.nav-left a {
    border-bottom: 2px solid transparent;
    padding: .5em 1em .5em 1em;
    text-decoration: none;
    color: #80868b;
    transition: all 200ms ease-in-out;
    letter-spacing: 0.3rem;



}

.nav-left li a:hover{
cursor: pointer;
color: black;
border-bottom: 2px solid  #32435f;

}


/* right of navbar */
.nav-right{
    display: flex;

   

}
.nav-right button{
    border: 1.5px solid transparent;
    border-radius: 4px;
    margin-left: 1em;
    padding: .5em 2em .5em 1em;
    font-size:  0.8em;
    font-weight: 5rem;
    transition: all 240ms ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    letter-spacing: 0.125rem;



}


.login-button:hover{
    border-color:   #32435f;
}
    
.login-link{
    text-decoration: none;
    color: black;
}

.getstarted-button{
    background-color: #32435f;
    color:  #f4f8fe;

}

.getstarted-button:hover{
    background-color: #465e86;
    cursor: pointer;
}

@media (max-width: 1000px) {

.logo{
display: none;  

}

.dropdown-button{
    display: inline-block;
    padding-left: 1em;
    padding-top: 1em;
    width: 2rem;
    height: 2rem;
    position: fixed; 
    
}
.dropdown-button:hover{
    cursor: pointer;
}

.container{
    display: inline-block;
}

 
.nav-left ul a{
    display: flex;
    justify-content: space-between;
    padding: 1.5em 0 1em 1em;
    flex-direction: column;  

}

.nav-left a {
    margin-right: 10em; 
  }

  .nav-left li a:hover{
    cursor: pointer;
    color: black;


}

.navigation-menu ul{
    display: none;
  }
.navigation-menu .nav-right button{
    display: none;
}
.navigation-menu.expanded ul {
    display: block;
  }
  .navigation-menu.expanded .nav-right button {
    display: block;
  }
 .nav-components{

        flex-direction: column; 
        padding-top: 3em;
        padding-left: 2em;
        gap: 1.5rem

      
    }

.nav-right{
    flex-direction: column;  
    gap: 1.5rem;


}

.nav-right button{
    
    margin-bottom: 1em;
}
    
    }