
@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';


/* header */
header{
    margin-bottom: 2em;
    background: #f8f8f8;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size:  1.4rem;
    font-weight: 5rem;
    

}

.header-container{
    max-width: 95%;
    display: flex;
    align-items: center;
}

.dropdown-button{
    display: none;
}

nav{
    width: 100%;
}

/* container for left and right nav */

.nav-components{
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.nav-left ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;


}

.nav-left a {
    border-bottom: 2px solid transparent;
    padding: .5em 1em .5em 1em;
    text-decoration: none;
    color: #80868b;
    transition: all 200ms ease-in-out;
    letter-spacing: 0.3rem;



}

.nav-left li a:hover{
cursor: pointer;
color: black;
border-bottom: 2px solid  #32435f;

}


/* right of navbar */
.nav-right{
    display: flex;

   

}
.nav-right button{
    border: 1.5px solid transparent;
    border-radius: 4px;
    margin-left: 1em;
    padding: .5em 2em .5em 1em;
    font-size:  0.8em;
    font-weight: 5rem;
    transition: all 240ms ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    letter-spacing: 0.125rem;



}


.login-button:hover{
    border-color:   #32435f;
}
    
.login-link{
    text-decoration: none;
    color: black;
}

.getstarted-button{
    background-color: #32435f;
    color:  #f4f8fe;

}

.getstarted-button:hover{
    background-color: #465e86;
    cursor: pointer;
}


/* signed in header  */

h3{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    font-size: 18px;
    color: var(--primary-text-color);
    line-height: 1.2rem;
  }
.DropdownMenuContent{
    font-family: 'Roboto', sans-serif;
    min-width: 220px;
    background-color: white;
    border-radius: 6px;
    padding: 5px;
    box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform, opacity;
}

.DropdownMenuItem{

    font-size:  1.3rem;
  line-height: 5;
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 2em;
  padding: 0 2.5em;
  position: relative;
  padding-left: 1.5em;
  user-select: none;
  outline: none;
  cursor: pointer;



}

.DropdownMenuItem .icon{
    margin-right: .5em
}
.profile-user{
    width: 2em;
    height: 2em
}
.icon{
width: 1em;
height: 1em; 
}

.IconButton {
    font-family: inherit;
    border-radius: 100%;
    height: 3.5em;
    width: 3.5em;
    cursor: pointer;
    color: #32435f;;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: white;
  }

.IconButton:focus {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.DropdownMenuItem[data-highlighted]{
    background-color: #32435f;
    color:  #f4f8fe;

  }
  .DropdownMenuItem[data-disabled]{
    /* color: var(--mauve-8); */
    color: grey;
    pointer-events: none;
  }

@media (max-width: 1000px) {

.logo{
display: none;  

}

.dropdown-button{
    display: inline-block;
    padding-left: 1em;
    padding-top: 1em;
    width: 2rem;
    height: 2rem;
    position: fixed; 
    
}
.dropdown-button:hover{
    cursor: pointer;
}

.container{
    display: inline-block;
}

 
.nav-left ul a{
    display: flex;
    justify-content: space-between;
    padding: 1.5em 0 1em 1em;
    flex-direction: column;  

}

.nav-left a {
    margin-right: 10em; 
  }

  .nav-left li a:hover{
    cursor: pointer;
    color: black;


}

.navigation-menu ul{
    display: none;
  }
.navigation-menu .nav-right button{
    display: none;
}
.navigation-menu.expanded ul {
    display: block;
  }
  .navigation-menu.expanded .nav-right button {
    display: block;
  }
 .nav-components{

        flex-direction: column; 
        padding-top: 3em;
        padding-left: 2em;
        gap: 1.5rem

      
    }

.nav-right{
    flex-direction: column;  
    gap: 1.5rem;


}

.nav-right button{
    
    margin-bottom: 1em;
}
    

}