/*Overall look of the footer */
.footer {
    background-color: #f8f8f8;
    padding: 30px 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;


  }
  
  .footer-content {
    margin: 0 auto;
  }
  
  
  .footer-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .footer-column {
    flex: 0 0 25%;
    margin: 1em;
    padding: 0 0.5em;
    text-align: left;
  }
  
  .footer-column h4 {
    color: #333;
    font-size: 1.2rem;
    margin-bottom: 1em;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column li {
    margin-bottom: .5em
  }
  
  .footer-column a {
    color: #666;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .footer-column a:hover {
    color: #333;
  }
  
  .footer-social-icons {
    margin-top: .5em;
  }
  
  .footer-social-icons svg {
    margin-right: 5em;
    color: #333;
  }
  