<<<<<<< HEAD
<<<<<<< HEAD
/* section */
=======
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

>>>>>>> 8dabbb0 (changes made but not final)
=======
/* section */
>>>>>>> b3710aa (changes made to navbar, signin and signup)
section{
  max-width:95%;
  padding: 2em;
  font-size:  1.6rem;
  font-weight: 5rem;


}
.login-container {
  display: flex;
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> b3710aa (changes made to navbar, signin and signup)
  font-family: 'Roboto',Helvetica, sans-serif;
}
  /* creating the column */
.column{
<<<<<<< HEAD
=======
  font-family: 'Roboto', sans-serif;


  }
  
  .column{
>>>>>>> 8dabbb0 (changes made but not final)
=======
>>>>>>> b3710aa (changes made to navbar, signin and signup)
    flex: 50%;
}
/* left login */
.login-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border-radius: 25px;
    height: 100%;
    height: 30em;
    box-shadow: rgba(0, 0, 0, 0.16) 8px 10px 12px, rgba(0, 0, 0, 0.23) 8px 10px 12px; 
<<<<<<< HEAD
<<<<<<< HEAD
}


.login-left-content h4{
  color: white;
}

/* right log in */
=======
  }
=======
}
>>>>>>> b3710aa (changes made to navbar, signin and signup)


.login-left-content h4{
  color: white;
}

<<<<<<< HEAD
>>>>>>> 8dabbb0 (changes made but not final)
=======
/* right log in */
>>>>>>> b3710aa (changes made to navbar, signin and signup)
.login-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 2em ;
}

<<<<<<< HEAD
<<<<<<< HEAD
/* email and password input */
=======
>>>>>>> 8dabbb0 (changes made but not final)
=======
/* email and password input */
>>>>>>> b3710aa (changes made to navbar, signin and signup)
.input-container{
    display: flex;
    flex-direction: column;
    position: relative;
 
  }

 input{
    margin: 0.5em 0;
    font-size: 1.3rem;
    background-color: #e1dcd9;
    border: none;
    border-radius: 5px;
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.16) 5px 2px 6px;
  }

  .input-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;
  }

  .input-field-1{
    padding-left: 2em; /* Adjust this value to provide space for the icon */
  }

  .input-field-2{
    padding-left: 1.9em;
   } 
  

  .login-right-content{
  margin-bottom: 3em;
  letter-spacing: .2rem;
  color: #32435f;

  }
<<<<<<< HEAD
<<<<<<< HEAD
/* log in and register buttons and styling */
=======

>>>>>>> 8dabbb0 (changes made but not final)
=======
/* log in and register buttons and styling */
>>>>>>> b3710aa (changes made to navbar, signin and signup)
  .login-button-container{
    display: flex;
    margin-top: 3em;
    justify-content: space-around;
    
  }

.loginpage-register-button:hover, 
.login-button:hover{
  cursor: pointer;
  border-color:   #32435f;


  }


  .login-button-container button{
    border: 1.5px solid transparent;
    background-color: #e1dcd9;
    border-radius: 4px;
    letter-spacing: .1rem;
    font-size:  1.3rem;
    padding: 1em;
    transition: all 240ms ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 12px;
    width: 12em;
  }

<<<<<<< HEAD
<<<<<<< HEAD
/* reponsivenes */

  

@media (max-width: 1000px) {
=======


  

 
   @media (max-width: 1000px) {
>>>>>>> 8dabbb0 (changes made but not final)
=======
/* reponsivenes */

  

@media (max-width: 1000px) {
>>>>>>> b3710aa (changes made to navbar, signin and signup)

    .login-left{
      display: none;
    }
.login-right{
  border-radius: 4px;
}
 
@media (max-width: 700px) {


  .login-button-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2em;
  
  }

  .login-button-container button{
    width: 100%;
  }
   
    
  } 

}