<<<<<<< HEAD
<<<<<<< HEAD
/* section style */
=======

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

>>>>>>> 8dabbb0 (changes made but not final)
=======
/* section style */
>>>>>>> b3710aa (changes made to navbar, signin and signup)
section{
    max-width:95%;
    padding: 2em;
    font-size:  1.6rem;
    font-weight: 5rem;
  
  
}

.signup-container {

    display: flex;
    font-family: 'Roboto', sans-serif;
  }

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> b3710aa (changes made to navbar, signin and signup)
  /* creating the column layout */
.column{
        flex: 50%;
}


/* left column */
<<<<<<< HEAD
=======
.column{
        flex: 50%;
}
>>>>>>> 8dabbb0 (changes made but not final)
=======
>>>>>>> b3710aa (changes made to navbar, signin and signup)
.signup-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border-radius: 25px;
    height: 100%;
    height: 30em;
    box-shadow: rgba(0, 0, 0, 0.16) 8px 10px 12px, rgba(0, 0, 0, 0.23) 8px 10px 12px; 
  }


<<<<<<< HEAD
<<<<<<< HEAD
.signup-left-content h4{
    color: white;
  }

  /* right column */
=======
.signup-left-content{
    color: white;
  }

>>>>>>> 8dabbb0 (changes made but not final)
=======
.signup-left-content h4{
    color: white;
  }

  /* right column */
>>>>>>> b3710aa (changes made to navbar, signin and signup)
.signup-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 2em ;
}

.signin-right-content{
    margin-bottom: 3em;
    letter-spacing: .2rem;
    color: #32435f;
  
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> b3710aa (changes made to navbar, signin and signup)
/* right column: name */

.signup-name-container{
display: flex;
gap: .5em;
<<<<<<< HEAD
=======
.signup-name-container{
display: flex;
>>>>>>> 8dabbb0 (changes made but not final)
=======
>>>>>>> b3710aa (changes made to navbar, signin and signup)


}

.signup-name-container input{
<<<<<<< HEAD
<<<<<<< HEAD
    margin-right: .5em;
    width: 100%;
}

/* industry option and input */
=======
    margin-right: .8em;
    width: 100%;
}


>>>>>>> 8dabbb0 (changes made but not final)
=======
    margin-right: .5em;
    width: 100%;
}

/* industry option and input */
>>>>>>> b3710aa (changes made to navbar, signin and signup)
select{
    font-size: 1.3rem;
    background-color: #e1dcd9;
    border: none;
    border-radius: 5px;
    padding: 1em;
    margin-right: .5em;
    box-shadow: rgba(0, 0, 0, 0.16) 5px 2px 6px;

}

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> b3710aa (changes made to navbar, signin and signup)
/* password and email container */
.industry-container 
input{
  padding-left: 2.4em;


}

<<<<<<< HEAD
=======
>>>>>>> 8dabbb0 (changes made but not final)
=======
>>>>>>> b3710aa (changes made to navbar, signin and signup)
.input-container{
    display: flex;
    flex-direction: column;
    position: relative;
 
  }



input{
    margin: 0.5em 0;
    font-size: 1.3rem;
    background-color: #e1dcd9;
    border: none;
    border-radius: 5px;
<<<<<<< HEAD
<<<<<<< HEAD
=======
    padding: 1em;
>>>>>>> 8dabbb0 (changes made but not final)
=======
>>>>>>> b3710aa (changes made to navbar, signin and signup)
    box-shadow: rgba(0, 0, 0, 0.16) 5px 2px 6px;
  }


  .input-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;
  }

  .input-field-1{
    padding-left: 2em; /* Adjust this value to provide space for the icon */
  }

<<<<<<< HEAD
<<<<<<< HEAD
/* register button */
=======
  .tacbox {
    display:block;
    padding: 1em;
    margin: 1em;
    border: 2px solid #ddd;
    background-color: #eee;
    font-size: 1rem;

  }
  

>>>>>>> 8dabbb0 (changes made but not final)
=======
/* register button */
>>>>>>> b3710aa (changes made to navbar, signin and signup)
.register-button{
    cursor: pointer;
    border: 1.5px solid transparent;
    background-color: #e1dcd9;
    border-radius: 4px;
    letter-spacing: .1rem;
    font-size:  1.3rem;
    padding: 0.5em;
    margin-top: 2.5em;
    transition: all 240ms ease-in-out;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 12px;
}

.register-button:hover{
    border-color:   #32435f;
}

.registerpage-login-link{
    background-color: none;
    text-decoration: none;
    color: #32435f;

}

<<<<<<< HEAD
<<<<<<< HEAD
/* link for log in */
=======
>>>>>>> 8dabbb0 (changes made but not final)
=======
/* link for log in */
>>>>>>> b3710aa (changes made to navbar, signin and signup)
.signup-button-container p{
    margin-top: 1em;
    font-size: 1.25rem;

}

<<<<<<< HEAD
<<<<<<< HEAD
/* reposiveness */
=======

>>>>>>> 8dabbb0 (changes made but not final)
=======
/* reposiveness */
>>>>>>> b3710aa (changes made to navbar, signin and signup)
 
@media (max-width: 1000px) {

    .signup-left{
      display: none;
    }
.signup-right{
  border-radius: 4px;
}
 
<<<<<<< HEAD
<<<<<<< HEAD
}
=======
  } 
>>>>>>> 8dabbb0 (changes made but not final)
=======
}
>>>>>>> b3710aa (changes made to navbar, signin and signup)
