.svg-container {
    width: 210px;
    height: 210px;
  }
  
  @keyframes yourAnimation {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(50%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .animated-svg {
    animation: yourAnimation 2s infinite;
  }