/* HeatmapPage.css */

.heatmap-page {
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.function-module {
    flex-shrink: 0;
}

.map-info-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.map-module {
    width: 70%;
}

.info-module {
width: 30%;
}

/* MapModule */
.zoneBriefInfo {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.zoneBriefInfo h4 {
    margin: 0 0 5px;
    color: #777;
}